<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tgifreitag.billfold" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

       <activity
           android:name=".BillsActivity"
           android:label="Bills"
           android:parentActivityName=".HomeActivity"/>

        <activity
            android:name=".NewBillActivity"
            android:label="New Bill"
            android:parentActivityName=".BillsActivity"/>

        <activity
            android:name=".PeopleActivity"
            android:label="People"
            android:parentActivityName=".HomeActivity"/>

        <activity
            android:name=".NewPersonActivity"
            android:label="New Person"
            android:parentActivityName=".PeopleActivity"/>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"/>

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        android:label="Home"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.wallet.EnableWalletOptimizationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.wallet.ENABLE_WALLET_OPTIMIZATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
