<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgifreitag.billfold" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

       <activity
           android:name=".BillsActivity"
           android:label="Bills"
           android:parentActivityName=".HomeActivity"/>

        <activity
            android:name=".NewBillActivity"
            android:label="New Bill"
            android:parentActivityName=".BillsActivity"/>

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
